<a class="dropdown-item" id="pop_copyPath" onclick="copy_Path()"><i class="far fa-clipboard mr-1 "></i></i>Copy Name</a>
<a class="dropdown-item" id="pop_rename"onclick="renameFileFolderModal()"><i class="far fa-edit mr-1"></i>Rename...</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" id="pop_cut"onclick="cutFileFolder()"><i class="fas fa-cut mr-1"></i>Cut</a>
<a class="dropdown-item disabled text-secondary" id="pop_paste" onclick="pasteFileFolder(true)"><i class="fas fa-paste mr-1"></i>Paste</a>
<a class="dropdown-item" id="pop_delete"onclick="deleteFileFolder()"><i class="fas fa-trash-alt mr-1"></i>Delete</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" id="pop_download" onclick="downloadFile()"><i class="fas fa-download mr-1"></i></i></i>Download</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" id="pop_manage" onclick="rightPanel('#makePublic')"><i class="fas fa-link mr-1"></i>Manage Link</a>
<a class="dropdown-item" id="pop_metadata" onclick="rightPanel('#metadata')"><i class="fas fa-comment-alt mr-1"></i>Metadata</a>
<a class="dropdown-item" id="pop_analyse" onclick="rightPanel('#analysis')"><i class="fas fa-search mr-1"></i>Analyse</a>


